@charset "UTF-8";

html{    
    font-size: 16px;
}

body{    
    margin: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FFFFFF;
}

h1{
    font-size: 2.4rem;
    color: #191970;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #808080;
}

h2{
    font-size: 2.0rem;
    color: #191970;
}

h3{
    font-size: 1.2rem;
    background-color: #e0e0e0;
}

h4{
    font-size: 1.0rem;
    color: #191970;
}

h5{
    font-size: 1.0rem;
    color: #191970;
}

p{
    font-size: 1.0rem;
}

ul{    
    font-size: 1.0rem;
}

/* about <a> tag */
a:link {
    color: #ff00f7;
    text-decoration: none;
}

a:visited {
    color: #ff8400;
    text-decoration: none;
}

a:active {
    color: #ff00f7;
    text-decoration: none;
}
